<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">

:root {
  --box-about-color: #fb7777;
}
body {
  text-align: center !important;
  margin-bottom: 50px;
  font-family: "Inter", sans-serif;
}

.title h2 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 40px;
}

.name h1 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 80px;
}

.description h2 {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.navigation-links {
  display: flex;
  flex: 1;
  justify-content: center;
}

.contact-link {
  border: 1px solid #fb7777;
  background-color: #fb7777;
  color: white;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.contact-link:hover {
  color: black;
}

.about-link {
  border: 2px solid #fb7777;
  color: #fb7777;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.about-link:hover {
  color: black;
}

.link-header {
  margin-top: 50px !important;
}

.title-about h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 50px;
}

.title-about h2 {
  margin-top: 10px;
  font-size: 30px;
}

.desc-1 {
  margin: 20px 50px;
}

#contact-description h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

#contact-description {
  margin-bottom: 50px;
}

.email {
  text-decoration: none;
}

.weather-desc {
  margin-bottom: 30px;
}

.btn {
  border: 1px solid #fb7777 !important;
  background-color: #fb7777 !important;
}

@media screen and (max-width: 700px) {
  .name h1 {
    font-size: 40px;
  }

  .title-about h1 {
    font-size: 30px;
  }
  .title-about h2 {
    font-size: 20px;
  }
}
